# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# rama
/1.NextSimpleApp/.next
# dependencies
/1.NextSimpleApp/node_modules
/1.NextSimpleApp/.pnp
/1.NextSimpleApp/.pnp.js

# testing
/1.NextSimpleApp/coverage

# production
/1.NextSimpleApp/build

# misc
/1.NextSimpleApp/.DS_Store
/1.NextSimpleApp/.env.local
/1.NextSimpleApp/.env.development.local
/1.NextSimpleApp/.env.test.local
/1.NextSimpleApp/.env.production.local

/1.NextSimpleApp/npm-debug.log*
/1.NextSimpleApp/yarn-debug.log*
/1.NextSimpleApp/yarn-error.log*


# rama
/2.LearningNext/.next
# dependencies
/2.LearningNext/node_modules
/2.LearningNext/.pnp
/2.LearningNext/.pnp.js

# testing
/2.LearningNext/coverage

# production
/2.LearningNext/build

# misc
/2.LearningNext/.DS_Store
/2.LearningNext/.env.local
/2.LearningNext/.env.development.local
/2.LearningNext/.env.test.local
/2.LearningNext/.env.production.local

/2.LearningNext/npm-debug.log*
/2.LearningNext/yarn-debug.log*
/2.LearningNext/yarn-error.log*

# rama
/3.TestingReactApp/.next
# dependencies
/3.TestingReactApp/node_modules
/3.TestingReactApp/.pnp
/3.TestingReactApp/.pnp.js

# testing
/3.TestingReactApp/coverage

# production
/3.TestingReactApp/build

# misc
/3.TestingReactApp/.DS_Store
/3.TestingReactApp/.env.local
/3.TestingReactApp/.env.development.local
/3.TestingReactApp/.env.test.local
/3.TestingReactApp/.env.production.local

/3.TestingReactApp/npm-debug.log*
/3.TestingReactApp/yarn-debug.log*
/3.TestingReactApp/yarn-error.log*
